# large files (to be sent separately)
models/
classifiers/
models.tar.gz

tmp/
__pycache__/
*.pyc
Untitled.ipynb
*/.ipynb_checkpoints/
.ipynb_checkpoints/
wandb/
decode.log/

/data_prep/models/*
/evaluation/models/*
/data/latest_training_files_mbart/train.*
/data/latest_training_files_mbart/valid.*
/data/latest_training_files_mbart/test.*
/data/latest_training_files_mbart/inference/*
/data/latest_training_files_mbart/ft/*
/data/latest_training_files_mbart/csv/*
/data/latest_training_files_mbart/mbart_model_2022-02-18/pytorch_model.bin
/data/old_tannon_training_files_mbart/*
/data/latest_training_files_mbart/checkpoint_24.ckpt
/data/latest_training_files_mbart/pytorch_model.bin
/models/

